@charset "UTF-8";
body {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background: #fff;
  font-family: 'Mulish', sans-serif;
  color: #000;
  font-size: 19px;
  font-weight: 400;
}

body h1 {
  font-size: 32px;
  font-weight: 700;
  color: #0F7AFF;
  margin-bottom: 40px;
}

body h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 45px;
}

body h3 {
  font-size: 20px;
  color: #000;
}

body p {
  margin-bottom: 20px;
}

body p .modalTrigger {
  color: red;
  cursor: pointer;
}

body .themeToggle {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid #222A34;
  cursor: pointer;
}

body .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(20px, 700px) 1fr;
      grid-template-columns: 1fr minmax(20px, 700px) 1fr;
  -ms-grid-rows: 100vh auto 200px;
      grid-template-rows: 100vh auto 200px;
  gap: 0px 0px;
      grid-template-areas: ". coverArea ." ". qualificationsArea ." "contactArea contactArea contactArea";
}

body .grid-container .coverArea {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: coverArea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .grid-container .coverArea .tutoWrapper {
  position: relative;
}

body .grid-container .coverArea .tutoWrapper #tutoTrigger {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

body .grid-container .coverArea .tutoWrapper #tutoTrigger:after {
  content: "👋🏻";
  position: absolute;
  top: -83px;
  left: 0;
  width: 60px;
  height: 75px;
  font-size: 60px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

body .grid-container .coverArea .tutoWrapper #tutoTrigger:hover:after {
  content: "👇🏻";
  -webkit-animation: pointingHand 500ms ease-in-out infinite alternate;
          animation: pointingHand 500ms ease-in-out infinite alternate;
}

@-webkit-keyframes pointingHand {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes pointingHand {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

body .grid-container .coverArea .tutoWrapper .tuto {
  position: absolute;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  color: #9B9B9B;
  line-height: 22px;
}

body .grid-container .coverArea .tutoWrapper .tuto#tuto1 {
  top: -50px;
  left: 200px;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

body .grid-container .coverArea .tutoWrapper .tuto#tuto2 {
  top: -50px;
  left: 200px;
  display: none;
}

body .grid-container .coverArea .tutoWrapper #tutoTrigger:hover ~ #tuto1 {
  display: none;
}

body .grid-container .coverArea .tutoWrapper #tutoTrigger:hover ~ #tuto2 {
  display: block;
}

body .grid-container .coverArea .link {
  position: relative;
}

body .grid-container .coverArea .link:hover {
  cursor: pointer;
}

body .grid-container .coverArea .link:hover:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 14px;
  width: 100%;
  height: 10px;
  background: pink;
  z-index: -1;
}

body .grid-container .qualificationsArea {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: qualificationsArea;
}

body .grid-container .qualificationsArea .qualificationRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .grid-container .qualificationsArea .qualificationRow h3 {
  margin-right: 42px;
}

body .grid-container .contactArea {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contactArea;
  background: #0F7AFF;
}

body .modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 440px;
  height: 400px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  background: #fff;
  overflow-y: auto;
  border: 2px solid #222A34;
  -webkit-box-shadow: 0 5px 0 0 #222A34, 0 22px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 0 0 #222A34, 0 22px 24px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

body .modal:focus {
  z-index: 3;
  outline: 0;
}

body .modal h1 {
  color: #000;
}

body .modal p {
  font-size: 16px;
}

body .modal.dragging .modalHead .dragger {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

body .modal .modalHead {
  position: relative;
  width: 100%;
  height: 50px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .modal .modalHead .dragger {
  position: relative;
  height: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: -webkit-grab;
  cursor: grab;
  margin-left: 7px;
  margin-right: 44px;
}

body .modal .modalHead .dragger:after {
  content: "";
  position: absolute;
  top: 4px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #222A34;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

body .modal .modalHead .dragger:hover:after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

body .modal .modalHead .closeModal {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

body .modal .modalHead .closeModal:after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../assets/close.svg);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
}

body .modal .modalHead .dragger:hover + .closeModal:after {
  background: url(../assets/move.svg);
}

body .modal .modalContent {
  overflow-y: auto;
  padding: 0px 40px 60px 40px;
}

body .modal .modalContent .contentImgWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .modal .modalContent .contentImgWrapper img {
  width: 100%;
}

body .modal .modalContent .contentImgWrapper img:nth-child(even) {
  margin-left: 8px;
}

body .modal.modalShow {
  opacity: 1;
  visibility: visible;
}

body.darkTheme {
  background: #222A34;
  color: #fff;
}

body.darkTheme h1 {
  color: #FFEA22;
}

body.darkTheme h2 {
  color: #fff;
}

body.darkTheme .qualificationsArea .qualificationBloc .label:before {
  color: #FFEA22;
}

body.darkTheme .themeToggle {
  border: 2px solid #fff;
}

body.darkTheme .contactArea {
  background: #FFEA22;
}

body.darkTheme .modal {
  background: #222A34;
}
/*# sourceMappingURL=styles.css.map */